# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pkl

# Virtual environments
venv/
.env/
.venv/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# History file
backend/history/predictions.csv

# System files
.DS_Store
